---
// maquetas.astro
import Layout from '../layouts/Layout.astro';
import DemosSection from '../components/DemosSection.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="CORPUS - Maquetas" description="Escucha nuestras maquetas en progreso">
  <HeroSection />
  
  <h1 class="text-center text-5xl font-bold my-10">Maquetas</h1>

  <DemosSection title="Corpus Dispara" audioSrc="/audio/dispara.mp3" />
  <DemosSection title="Antes del Principio" audioSrc="/audio/adp.mp3" />
  <DemosSection title="Vaimaca Pirú" audioSrc="/audio/vaimaca-maqueta.mp3" />
</Layout>
