---
import Layout from '../layouts/Layout.astro';
import DemosSection from '../components/DemosSection.astro';
import HeroSection from '../components/HeroSection.astro';
import HeroGeneric from '../components/HeroGeneric.astro';
---

<Layout title="CORPUS - Maquetas" description="Escucha nuestras maquetas en progreso" canonical='"https://corpus.uy/maquetas"'>
  <HeroGeneric 
  style="justify-end"
  title="MAQUETAS" 
/>


  <h1 class="text-center text-3xl md:text-5xl font-bold my-6 md:my-10">
    Maquetas
  </h1>

  <div id="maquetas" class="flex flex-col gap-8 pb-16">
    <DemosSection title="Dioses Mortales" audioSrc="/audio/Dioses.mp3" />
    <DemosSection title="Vaimaca Pirú" audioSrc="/audio/Vaimaca.mp3" />
    <DemosSection title="Dispara" audioSrc="/audio/Dispara.mp3" />
    <DemosSection title="Ya estoy tarde" audioSrc="/audio/YeT.mp3" />
    <DemosSection title="Chico Granada - Cover" audioSrc="/audio/CHGR.mp3" />
    <DemosSection title="Yo se quién soy - Versión" audioSrc="/audio/YSQS.mp3" />
  </div>
</Layout>
