---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Guitar from '../components/icons/Guitar.astro';
import HeroSection from '../components/HeroSection.astro';
import BlackLine from '../components/icons/BlackLine.astro';
import RedLine from '../components/icons/RedLine.astro';
---
<Layout title="Corpus 💣🔥" description='La mejor banda del planeta' canonical=''>
    
    <section class="flex flex-col justify-center items-center h-screen   bg-white text-black">
        <div class="flex flex-col w-full gap-y-0">
            <span class="flex flex-row items-center place-self-start mb-[-118px] ml-2">
               <BlackLine class="md:w-8 2xl:w-96" />  <h1 class="text-11xl font-bold relative z-10 tracking-tighter">¿QUIÉNES </h1>
            </span>
            <span class="flex flex-row items-center place-self-end mb-48">
                 <h1 class="text-11xl font-bold text-primary relative z-10 tracking-tighter mr-8">SOMOS? </h1><RedLine class="md:w-8 2xl:w-96" />
             </span>
        </div>
        
        <div class="flex flex-row">
            //ACA VA LA IMAGEN Y LA description

        </div>

      </section>
  
</Layout>



    
<script>
    
</script>