---
import HeroTitle from './HeroTitle.astro'




---    
 
<div class=" hidden w-screen h-2/3 min-h-2/3 min-w-screen z-20 xl:grid grid-cols-5" id="integrantes">
    <div class="relative flex justify-center items-center">
        <img src="/KuervoHero.png" alt="Cuervo" class="absolute bottom-0 left-0 w-full h-auto animate-fade-right" />
    </div>
    <div class="relative flex justify-center items-center">
        <img src="/PachiHero.png" alt="Patxi" class="absolute bottom-0 left-0 xl:h-[170%] 2xl:h-[130%] h-auto animate-fade-right" />
    </div>
    <div class="relative flex justify-center items-center">
        <img src="/StevenHero.png" alt="Steven" class="absolute bottom-0 left-0 w-full h-auto animate-fade-right" />
    </div>
    <div class="relative flex justify-center items-center">
        <img src="/WillHero.png" alt="Lud" class="absolute -bottom-15 left-0 w-full h-auto animate-fade-right" />
    </div>
    <div class="relative flex justify-center items-center">
        <img src="/LudHero.png" alt="Will" class="absolute -bottom-30 -right-10 w-full h-auto animate-fade-right" />
    </div>
</div>
