---
// DemosSection.astro
const { title, audioSrc } = Astro.props;
---

<section class="w-full flex flex-col items-center justify-center my-10 text-light" id="Hola">
  <h2 class="text-4xl font-bold mb-4">{title}</h2>
  <audio controls class="w-full max-w-md">
    <source src={audioSrc} type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</section>
