---
// Importamos los componentes
import LogoVertical from './icons/LogoVertical.astro';
import SocialMedia from './SocialMedia.astro';
import FooterLinks from './icons/FooterLinks.astro';
---

<footer class="bg-zinc-900 text-light p-8">
  <div class="flex flex-col items-center">
    
    <LogoVertical class="w-32 h-32" />

    <SocialMedia />

    <!-- Nuevo sitemap y mail -->
    <FooterLinks />

    <div class="text-center mt-2 text-sm">
      <p>Copyright © 2025 - All rights reserved</p>

      <a href="https://hernancabara.com" target="_blank" class="relative group inline-block text-center mt-2 ">
        <span class="text-white transition-transform transform group-hover:scale-110">Developed by</span>
        <span class="text-[#6d28d9] font-bold transition-transform transform group-hover:scale-110 relative">
          kuervou
          <span class="absolute inset-0 bg-[#6d28d9] opacity-0 transition-opacity group-hover:opacity-40 rounded-full blur-lg"></span>
        </span>
      </a>
    </div>

  </div>
</footer>
