---
import LogoHeader from './icons/LogoHeader.astro'
import MainButton from './MainButton.astro'
---

<header class="absolute z-20 w-full " >
        <div class="bg-transparent flex flex-row items-center pt-4 justify-center sm:justify-between h-16 px-4">
            <LogoHeader class="h-14 w-fit" />
            <MainButton class="h-10 w-32 text-white" >Contacto</MainButton>
        </div>
        
        
</header>