---
import LogoHeader from './icons/LogoHeader.astro'
import MainButton from './MainButton.astro'
import SocialMedia from './SocialMedia.astro'
---

<header class="absolute z-20 w-full " >
        <div class="bg-secondary bg-opacity-40 flex flex-row items-center py-4 px-4 justify-center sm:justify-between ">
            <a href="/">
                <LogoHeader class="h-12 w-fit" />
            </a>
            <div class="hidden sm:flex">
              <SocialMedia class="hidden sm:flex" />
            </div>
            
              
           
        </div>
        
        
</header>