---
import BlackLine from "./icons/BlackLine.astro";
import WhiteLine from "./icons/WhiteLine.astro";
import RedLine from "./icons/RedLine.astro";
---

<div class="w-full h-1/2 min-h-1/2 pt-8 z-10">
    <div class="items-center justify-center gap-y-0 h-1/3 md:h-1/2 w-full">
        <span class="mt-4  sm:mt-14 ml-2 sm:ml-32  2xl:ml-2 flex flex-row items-center min-w-fit">
            <WhiteLine class="hidden lg:block md:w-40 2xl:w-96" />  <h1 class=" text-6xl sm:text-9xl  font-semibold sm:font-bold z-10 tracking-tighter">NO VIENEN </h1>
        </span>
        <span class="-mt-14 sm:-mt-32 mr-2 sm:mr-32 2xl:mr-2  flex flex-row items-center justify-end min-w-fit">
            <h1 class="text-6xl sm:text-9xl  font-semibold sm:font-bold text-primary z-10 tracking-tighter lg:mr-8">VUELVEN </h1><RedLine class="hidden lg:block md:w-40 2xl:w-96 " />
        </span>
    </div>
</div>