---
import BlackLine from "./icons/BlackLine.astro";
import WhiteLine from "./icons/WhiteLine.astro";
import RedLine from "./icons/RedLine.astro";
---

<div class="w-full pt-8 z-10">
    <div class="items-center justify-center gap-y-0 w-full">
        <span class="mt-4  sm:mt-44 ml-2 sm:ml-32  2xl:ml-2 flex flex-row items-center min-w-fit">
            <WhiteLine class="hidden lg:block md:w-40 2xl:w-96" />  <h1 class=" text-5xxl sm:text-9xl  ml-8 font-semibold sm:font-semibold z-10 tracking-tighter">NO VIENEN </h1>
        </span>
        <span class="-mt-11 sm:-mt-32 mr-2 sm:mr-32 2xl:mr-2  flex flex-row items-center justify-end min-w-fit">
            <h1 class="text-5xxl sm:text-9xl  font-semibold sm:font-semibold text-primary z-10 tracking-tighter mr-8">VUELVEN </h1><RedLine class="hidden lg:block md:w-40 2xl:w-96 " />
        </span>
    </div>
</div>