---
interface Props {
	
}

const { } = Astro.props;
---


<section
id="boxers"
class={`
        
        flex justify-between relative
        [&>div>img]:absolute [&>div>img]:bottom-0
        [&>div>img]:w-auto
         [&>div>img]:animate-ease-in-out [&>div>img]:animate-duration-700
        h-[40vh] md:h-[65vh] lg:h-screen pt-4 lg:pt-24 border-b border-white/10 overflow-hidden
        `}
>
<div class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#131824] via-zinc-900 to-zinc-950 h-full w-full inset-0 absolute">


<div class="min-h-screen bg-center bg-no-repeat bg-[url('/HD.webp')] bg-zinc-900/70 bg-blend-multiply bg-cover"
  
>
</div>
</div>



<div class="relative w-full">
  <img
    class="left-[-5%] h-[100%] z-10"
    srcset="/hernan.webp"
    sizes="(max-width: 767px) 767px, 100vw"
    alt="Cuervo"
    fetchpriority="high"
    style=""
    loading="lazy"
  />
  <img
    class="left-[20%] h-[100%] z-50 animate-fade-right mb-[-60px]"
    srcset="/patxi.webp"
    sizes="(max-width: 767px) 767px, 100vw"
    alt="Patxi"
    style=""
    loading="lazy"
  />
    <img
    class="left-[50%] h-[90%] z-30 animate-delay-300 animate-fade-right"
    srcset="/esteban.webp"
    sizes="(max-width: 767px) 767px, 100vw"
    alt="Steven"
    style=""
    loading="lazy"
    />
  <img
    class="right-[-8%] h-[105%] z-20 animate-fade-right"
    srcset="/willy.webp"
    sizes="(max-width: 767px) 767px, 100vw"
    alt="Lud"
    style=""
    loading="lazy"
  />
  <img
  class="right-[27%] h-[100%] z-10 animate-delay-300 animate-fade-right mb-24"
  srcset="/ludwig.webp"
  sizes="(max-width: 767px) 767px, 100vw"
  alt="Will"
  style=""
  loading="lazy"
/>

</div>
 
  
</section>

