---
import AnimatedIntegrants from './AnimatedIntegrants.astro'
import HeroTitle from './HeroTitle.astro'
import SeeMoreButton from './SeeMoreButton.astro'
---
<section class="relative flex flex-col justify-center items-center h-screen text-light">

    <!-- Div de fondo con blur y escala de grises -->
    <div class=`absolute top-0 left-0 w-full h-full  max-w-screen bg-cover bg-center bg-no-repeat bg-[url('/Hero-bg-mobile.png')]  blur-sm grayscale-75 filter -z-10`></div>
    <!-- xl:bg-[url('/HD2.webp')] para cambiar el fondo -->
    <HeroTitle />

    <SeeMoreButton />

    <!-- <AnimatedIntegrants /> --> <!-- Integrantes animados (Solo pantallas >xl) -->
    
    

 </section>

