---
import AnimatedIntegrants from './AnimatedIntegrants.astro'
import HeroTitle from './HeroTitle.astro'
import SeeMoreButton from './SeeMoreButton.astro'
---

<section class="relative h-screen text-light p-0 m-0 overflow-hidden">
  <!-- Fondo -->
  <div
    id="hero-background"
    class="absolute top-0 left-0 w-full h-full max-w-screen bg-cover bg-center bg-no-repeat
           bg-[url('/images/Hero-bg-mobile.webp')] sm:bg-[url('/images/Hero-bg.webp')]
           grayscale-50 transition-all duration-400 -z-10">
  </div>

  <!-- Bloque: en mobile arriba, en desktop abajo -->
  <div class="relative z-10 flex flex-col h-full justify-start sm:justify-end pt-24 sm:pt-0 pb-6 sm:pb-10">
    <HeroTitle />

    <div class="flex justify-center mt-4">
      <SeeMoreButton targetSection="#QuienesSomos" />
    </div>
  </div>
</section>

<script>
  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    const blurValue = Math.min(scrollY / 100, 4);
    const heroBackground = document.getElementById('hero-background');
    if (heroBackground) {
      heroBackground.style.filter = `grayscale(50%) blur(${blurValue}px)`;
    }
  });
</script>
