---
import MemberCard from "../components/MemberCard.astro";
---
  
  <!-- Secci贸n de Integrantes -->
  <section class="w-full min-h-screen bg-gray-900 text-white pt-8 pb-16">
    <h1 class="text-center text-4xl mb-8 font-bold">Integrantes</h1>

    <!-- Patxi Saralegui -->
    <MemberCard
      nombre="Tabar茅 Calder贸n"
      rol="Voz"
      imageVertical="/integrants/tabaV.webp"
      imageHorizontal="/integrants/tabaH.webp"
      stats={`
        Cantante, lleg贸 a la banda en 2025 y r谩pidamente se convirti贸 en nuestro
        frontman. Su voz y carisma en el escenario son inigualables.
      `}
    />

    <!-- Willy -->
    <MemberCard
      nombre="Wilson Mart铆nez"
      rol="Guitarra"
      imageVertical="/integrants/willV.webp"
      imageHorizontal="/integrants/willH.webp"
      stats={`
        Guitarrista principal, y nuestro cirujano en la producci贸n musical. 
      `}
    />

    <!-- Cuervo -->
    <MemberCard
      nombre="Hern谩n Cabara"
      rol="Bajo"
      imageVertical="/integrants/cuervoV.webp"
      imageHorizontal="/integrants/cuervoH.webp"
      stats={`
        Bajista de la banda. Antes de cada presentaci贸n, 
        se dice que es pose铆do por el dios Corpus.
      `}
    />

    <!-- Ludwig -->
    <MemberCard
      nombre="Ludwig Van Velthoven"
      rol="Bater铆a"
      imageVertical="/integrants/ludV.webp"
      imageHorizontal="/integrants/ludH.webp"
      stats={`
        Ludwig Van Velthoven, sigan viendo . 
      `}
    />
  </section>

  <script is:inline>
    if (typeof window !== 'undefined') {
      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          const target = entry.target;
          if (entry.isIntersecting) {
            target.classList.remove('grayscale');
          } else {
            target.classList.add('grayscale');
          }
        });
      }, {
        threshold: 0.4
      });
  
      document.querySelectorAll('.observer-target').forEach((el) => {
        observer.observe(el);
      });
    }
  </script>
  