---
import Arrow from "./icons/Arrow.astro"

const { targetSection } = Astro.props;
---

<a class="flex flex-col items-center justify-center hover:scale-110 transition-all duration-300 ease-in-out hover:shadow-custom pb-11" href={targetSection}>
    <h5 class="font-clash text-normal text-2xl text-accent">Saber más</h5>
    <Arrow class="w-8 h-8 mt-1" />
</a>


