---

import Instagram from './icons/Instagram.astro';
import Youtube from './icons/Youtube.astro';
import Facebook from './icons/Facebook.astro';
import Spotify from './icons/Spotify.astro';
import Bandcamp from './icons/Bandcamp.astro';
---

<!-- Redes sociales -->
<div class="flex justify-center items-center gap-4 py-4">
    <Spotify link="https://open.spotify.com/intl-es/artist/42fuOGHadNohy4YEinUXEX" class="w-8 h-8" />
    <Instagram link="https://www.instagram.com/corpus.uy/" class="w-8 h-8" />
    <Youtube link="https://www.youtube.com/@Corpusuy" class="w-9 h-9" />
    <Facebook link="https://www.facebook.com/corpus.uy/" class="w-8 h-8" />
    <Bandcamp link="https://corpus.bandcamp.com/" class="w-9 h-9" />
</div>
