---
// Youtube.astro
const { link, class: className = '' } = Astro.props;
---

<a class="relative group cursor-pointer"  href={link} target="_blank">
  <svg
    xmlns="http://www.w3.org/2000/svg"

    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class={`text-primary block ${className} transition-transform transform group-hover:scale-110`}
  >
    <path d="M22.54 6.42A2.78 2.78 0 0 0 20.82 4.7C19.73 4.35 12 4.35 12 4.35s-7.73 0-8.82.35A2.78 2.78 0 0 0 1.46 6.42 29.58 29.58 0 0 0 1 12a29.58 29.58 0 0 0 .46 5.58 2.78 2.78 0 0 0 1.72 1.72c1.09.35 8.82.35 8.82.35s7.73 0 8.82-.35a2.78 2.78 0 0 0 1.72-1.72A29.58 29.58 0 0 0 23 12a29.58 29.58 0 0 0-.46-5.58z"></path>
    <polygon points="9.75 15.02 15.27 12 9.75 8.98 9.75 15.02"></polygon>
  </svg>
  <span class="absolute inset-0 bg-[#DC2D45] opacity-0 transition-opacity group-hover:opacity-40 rounded-full blur-lg"></span>
</a>
